.contacts {
  width: 100%;
}

.contacts h1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  border-bottom: 2px solid #EAEAEA;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 20px 0 20px;
}

.info span {
  color: #666666;
  font-size: 24px;
  margin: 20px 0;
}

.info a {
  color: #000;
}

/*--------------------------------------------------------*/

@media screen and (max-width: 450px) {
  .contacts h1 {
    padding: 20px 0;
  }

  .info {
    padding: 20px 10px 0 10px;
  }

	.info span {
    font-size: 18px;
    margin: 10px 0;
  }
}